# Virtual environment
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
python_libraries/data_set/rating.csv
dataset/
.run/
.gitattributes/
.gitignore/

.ipynb_checkpoints
.vscode
.gitattibutes
app.py.py
