# Virtual environment
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Dataset
dataset/
python_libraries/data_set/rating.csv

# Run configs
.run/

# Git files (usually NOT needed to ignore)
# .gitattributes   ❌ remove this line
# .gitignore       ❌ remove this line

# Specific file
app.py.py